<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>

	<!--START: Left side menu-->
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>

		<!--START: Content -->
      <div class=" content row " > 
        <!--START:center content-->
        
        	<div class="span8" > 
        	                <h3>Pieņemto lēmumu vēsture</h3>
        	                 <% if(decisions.length == 0){ %>
                      <blockquote><small>Šeit būs redzami jūsu mājas pieņemtie lēmumi, balstoties uz diskusijām, balsojumiem un mājas sapulcēm.</small></blockquote>
                    <%}%>
                <ul class="jm-ListTable">
                  <% decisions.forEach(function(decision){ %>
                  <li class="jm-ListItem">
                            <span class="normaldate"><%= decision.date.getDate() %>.<%= decision.date.getMonth()+1 %>.<%= decision.date.getFullYear() %></span>
                            <span class="seperator"> - </span>
                            <span class="shortened"><%= decision.subject.substring(0,40) %><% if(decision.subject.length > 40){ %>...<% } %></span>
                            <span><%= decision.subject %></span>
                            <div class="attachlist">
                            <span class="red sm-11">
                            <% decision.attachments.forEach(function(att){ 
                              var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
                              %>
                              <a href="/attachments/houses/<%= att %>" target="_blank" >
                              <img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
                              </a>
                            <%})%>
                            </span>
                            </div>
                            <div>
                            <% if(decision.ontalk != undefined){ %>
                            <span class=" red sm-11"><a href="/talks/show/<%= decision.ontalk.id %>" alt="" ><%= decision.ontalk.title %></a></span><% } %>
                            </div>
                            <div class="sm-12">
                            	<b> Apstiprināja: </b>
                                <a href="#" class="green"><%= decision.manager.fullname %></a>
                                <span class="date right"><%= decision.date %></span>
                            </div>
                    </li>
                    <% }); %>
                    </ul>

        	</div>
        <!--END:Center COntent--> 
        <%- partial('../house-rightside',{personal: property.personal, isadmin: isadmin, rulles: property.rulles, contracts: property.contracts }) %>

	</div>
    </div>
</div>
<% }else { %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>
