  <% if (everyauth.loggedIn) { %>
<div class="r-top-min">
    <div class="container-fluid">
      <div class="page-header">
        <h2>
        <%= property.name %>
        </h2>
      </div>
      <div class="sidebar span2"> 
          <a href="/property/edit/<%= property.id %>" class="btn info input-medium">Īpašuma Dati</a> 
          <% if(edit){ %><a href="/property/units/<%= property.id %>" class="btn input-medium">Dzīvokļi/telpas</a>
          <a href="/property/personal/<%= property.id %>" class="btn input-medium">Personāls un termiņi</a>
		  <a href="/property/meaters/<%= property.id %>" class="btn input-medium">Skaitītāji</a>
          <% } %>
      </div>
      <div class="content" >
      <form method="post" action="/property/update/<%= property.id %>" enctype="multipart/form-data">
        <fieldset>
          <legend>Īpašuma Dati</legend>
          <% if(!edit){ %><p class="sm-11 red">Īpašumu labot var tikai pārvaldnieki.</p><p class="sm-11">Ja esi pārvaldnieks, īpašuma reģistrētājs var iedot tev tiesības pārvaldīt īpašumu.</p><% }%>
          <div class="clearfix">
            <label><strong>Ēkas Nosaukums</strong></label>
            <div class="input">
              <% if(edit){ %> 
              <input class="input-large" id="ProperyNameID" name="property[name]" value="<%= property.name %>" size="30" type="text" data-content="Šādi īpašums tiks parādīts iedzīvotājiem, īpašumu sarakstā un uz rēķiniem! Piemēri: Brīvības 101, Jūras Skatu Nami, vai Ciemats 'Mucenieki'" data-original-title="Uzmanību!">
              <script type="text/javascript"> $("#PropertyNameID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyNameID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.name %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix -->

    <div class="clearfix">
            <label>Mājas foto</label>
            <div class="input">
              <div id="homepic">
              </div>
              <div id="showpic">
                <img src="/images/houses/<%= property.picture %>" alt="" class="mediumpic" />
                <input type="hidden" name="property[picture]" value="<%= property.picture %>" />
              </div>
            </div>
        </div>

          <div class="clearfix">
            <label>Ielas nosaukums</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-large" id="ProperyStreetID" name="property[street]" value="<%= property.street %>" size="30" type="text" data-content="Norādīt Ielas nosaukumu bez mājas numura, piemēram: Brīvības iela." data-original-title=" ">
              <script type="text/javascript"> $("#ProperyStreetID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyStreetID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.street %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix -->  
                    
          <div class="clearfix">
            <label>Mājas numurs</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-large" id="ProperyStreetNumberID" name="property[homenr]" value="<%= property.homenr %>" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyStreetNumberID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyStreetNumberID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.homenr %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix -->
          
          
          <div class="clearfix">
            <label>Pilsēta</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-large" id="ProperyCityID" name="property[city]" value="<%= property.city %>" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyCityID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyCityID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.city %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix -->            
          
          <div class="clearfix">
            <label>Novads</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-large" id="ProperyRegionID" name="property[region]" value="<%= property.region %>" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyRegionID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyRegionID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.region %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix --> 
          
          <div class="clearfix">
            <label>Pasta Indekss</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-large" id="ProperyPostalIndexID" name="property[postal_code]" value="<%= property.postal_code %>" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyPostalIndexID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyPostalIndexID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.postal_code %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix --> 
          
          
          <div class="clearfix">
            <label>Valsts</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-large disabled" id="ProperyCountryID" name="property[country]" value="<%= property.country %>" size="30" type="text" data-content=" " data-original-title=" " placeholder="Latvija" disabled>
              <script type="text/javascript"> $("#ProperyCountryID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyCountryID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.country %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix --> 
          
          
          <div class="clearfix">
            <label>Īpašumu skaits</label>
            <div class="input"><% if(edit){ %> 
              <input class="input-small" id="ProperyUnitCountID" name="property[unitcount]" value="<%= property.unitcount %>" size="30" type="text" data-content="Lūdzu norādīt kopējo dzīvokļu, komerctelpu, biroju, izīrējamo koplietošanas telpu skaitu (rēķinu skaitu)." data-original-title="Uzmanību!">
              <script type="text/javascript"> $("#ProperyUnitCountID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyUnitCountID").popover({trigger: "focus"});</script>
              <% }else{ %>
                <span class="uneditable-input"><%= property.unitcount %></span>
              <% } %>
            </div>
          </div>
          <!-- /clearfix --> 
            <% if(edit){ %> 
            <div class="actions">
            	<input type="submit" class="btn success" value="Saglabāt īpašuma detaļas">&nbsp;<a href="/property/edit/<%= property.id %>" class="btn">Atcelt</a>
       		</div>
            <% } %>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>
