 <% if (everyauth.loggedIn) { %>
<div class="r-top-min">
    <div class="container-fluid">
      <div class="page-header">
        <h2>
        <%= property.name %>
        </h2>
      </div>
      <div class="sidebar span2"> 
          <a href="/property/edit/<%= property.id %>" class="btn input-medium">Ipašuma Dati</a> 
          <a href="/property/units/<%= property.id %>" class="btn input-medium">Dzivokli un telpas</a>
          <a href="/property/personal/<%= property.id %>" class="btn input-medium">Personals un termini</a>
		  <a href="/property/meaters/<%= property.id %>" class="btn info input-medium">Skaitītāji</a>
      </div>
      <div class="content  row " >
			<div class="span8" > 
            	<!--START: dzīvokļu saraksts-->
				  <div>
						<h3>Dzīvokļu skaitītāji</h3>
						<table class="bordered-table zebra-striped tinytable">
						  <thead>
							<tr>
							  <th>status</th>
							  <th>īpašums</th>
							  <th>aukstais ūdens</th>
							  <th>karstais ūdens</th>
							  <th>siltuma skaitītāji</th>
							</tr>
						  </thead>
						  <tbody>
						  <% if(units.length == 0){ %> 
                      <tr>
                          <td colspan=5>
							Īpašumam nav pievienoti dzīvokļi
						  </td>
                      </tr>
              <% }else{ 
					date = new Date();
					var goodcount = 0;
					badusers = []
                   for(var i=0; i< units.length; i++){
					var meaternr = -1;
					for(var j=0;j < units[i].meaters.length; j++){
							if(units[i].meaters[j].date.getFullYear() == date.getFullYear() && 
								units[i].meaters[j].date.getMonth() == date.getMonth()){
								meaternr = j;
								goodcount++;
							}
					}
					if(meaternr == -1 || units[i].meaters[meaternr].coldwater == null || units[i].meaters[meaternr].hotwater == null){
							if(units[i].owner != undefined) badusers.push(units[i].owner);
								}
					%>
					<tr data-controls-modal="modal-meaters" data-backdrop="true" data-keyboard="true" onclick="fillModalMeaters('<%= units[i].id %>');"> 
						  <td><%if(meaternr == -1 || units[i].meaters[meaternr].coldwater == null || units[i].meaters[meaternr].hotwater == null){ %><span class="label important">nav ievadīts</span><% }else if(units[i].meaters[meaternr].heat != null) { %><span class="label success" >ievadīts</span><%}else {%><span class="label warning">jāievada</span><%}%></td>
						  <td><%= units[i].title %></td>
						  <td><%if(meaternr == -1 || units[i].meaters[meaternr].coldwater == null){ %>???<% }else{ %><%= units[i].meaters[meaternr].coldwater %><%}%></td>
						  <td><%if(meaternr == -1 || units[i].meaters[meaternr].hotwater == null){ %>???<% }else{ %><%= units[i].meaters[meaternr].hotwater %><%}%></td>
						  <td><%if(meaternr == -1 || units[i].meaters[meaternr].heat == null){ %>???<% }else{ %><%= units[i].meaters[meaternr].heat %><%}%></td>
					</tr></a>
              <%   }
                 } %>
						  </tbody>
						</table>
				  </div>
                <!--END:dzīvokļu saraksts-->
			</div>
			
			
			  <!--START: Right Side Content-->
        <div class="span4 jm-LeftBar2-Container" style=" float:right"> 
          
          <!--START: Par tekošo mēnesi, kas jāievada -->
          <div class="jm-RightSide-ContentSection"> 
          <div class="jm-RightSize-Header1"><%= date.getFullYear() %> <span class="lv-month"><%= date.getMonth() %></span>:</div>
          
            <% var notreg = 0;
				for(var i=0; i<units.length;i++){ 
				if(units[i].owner == null) notreg++;
				}
			%>
            <table class="bordered-table zebra-striped tinytable">
              <tbody>
                <tr>
                  <td colspan="3"><span class="jm-RightSize-Header2">No <%= units.length %> dzīvokļiem</span></td>
                </tr>
                <tr>
                  <td>Skaitītājus ievadījuši</td>
                  <td><span><%= goodcount %></span></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Skaitītājus nav ievadījuši</td>
                  <td><span><%= units.length - goodcount - notreg%></span></td>
                  <td>
<a href="/inbox/mult/_<% for(var j=0; j<badusers.length; j++){ %>,<%= badusers[j] %><% } %>" class="email" data-placement="below" rel='twipsy' title=''><img src="/buttons/email.png" style="margin:0px; padding:0px"></a><br>
				  </td>
                </tr>
                <tr>
                  <td>sistēmā nav reģistrējušies</td>
                  <td><span><%= notreg %></span></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>
          
          <!--End: Par tekošo mēnesi, kas jāievada --> 
          
          <!--START: Par iestatījumiem -->
          <div class="jm-RightSide-ContentSection">
          <div class="jm-RightSize-Header1">Iestatījumi:</div>
          <table class="bordered-table zebra-striped tinytable">
              <thead>
                <tr>
                  <th>skaitītājs</th>
                  <th>kas ievada?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Aukstais ūdens</td>
                  <td><span class="label important">dzīvoklis</span></td>
                </tr>
                <tr>
                  <td>karstais ūdens</td>
                  <td><span class="label important">dzīvoklis</span></td>
                </tr>
                <tr>
                  <td>Siltuma skaitītāji</td>
                  <td><span class="label warning">apsaimnekotājs</span></td>
                </tr>
              </tbody>
            </table>
          
          </div>
          <!--End: Par iestatījumiem-->
          
          <!--START: skaidrojumi -->
          <div class="jm-RightSide-ContentSection">
          	<div class="jm-RightSize-Header1">Skaidrojumi:</div>
			<span class="jm-RightSize-Header2">Par dzīvokļu sarakstu vidus daļā:</span><br>
			<span> Lai apstiprinātu ikmēneša skaitītāja rādījumus, visiem skaitītāju mērījumiem ir jābūt ievadītiem. Ar </span>
			<span class="label success">ievadīts</span>
			<span> pirmajā kolonā ir apzīmēti tie dzīvokļi, kuriem visi skaitītāju mērījumi ir ievadīti. </span><br>
			<span> Ar </span>
			<span class="label important">nav ievadīts</span>
			<span> pirmajā kolonā ir apzīmēti tie dzīvokļi, kuriem dzīvokļa īpašnieks nav pats ievadījis skaitītāja mērījumus. Šai rindiņai uzklikšķinot, apsaimniekotājs var pats ievadīt mērījumus. Ja laiks to pieļauj, apsaimniekotājs var ērtā veidā nosūtīt atgādinājuma vēstuli visiem tiem dzīvokļiem, kas ir reģistrējušies saimniekot.lv bet paši nav ievadījuši datus. Lai to izdarītu, lapas labajā malā pie rindiņas "kaitītājus nav ievadījuši" ir jāuzklikšķina uz vēstules pogas. </span><br>

			<span>Ar </span>
			<span class="label warning">jāievada</span>
			<span> pirmajā kolonā ir apzīmēti tie dzīvokļi, kuriem vēl pietrūkst apsaimniekotāja ievadāmie dati. Lai ievadītu iztrūkstošo informāciju, ir jāuzklikšķina uz rindiņas.</span><br>
            
          </div>
          <!--END: skaidrojumi-->
          
          </div>
          <!-- END: RightSide -->
		</div>
	</div>
</div>
<div id="modal-meaters" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h5 id="unit-title" >-</h5>
    </div>
    <div class="modal-body">
    <form method="post" id="set-unit-meaters" action="/property/setmeaters/">
    	<input type="hidden" name="mid" value="-"><input type="hidden" name="hot" value="-"><input type="hidden" name="cold" value="-"><input type="hidden" name="heat" value="-">
		<table class="bordered-table zebra-striped tinytable">
		  <thead>
			<tr>
			  <th></th>
			  <th><span class="label important">aukstais ūdens</span></th>
			  <th><span class="label success">karstais ūdens</span></th>
			  <th><span class="label warning">siltuma skaitītāji</span></th>
			  <th></th>
			</tr>
		  </thead>
		  <tbody id="unit-meaters">
			<tr>
			  <td>2012 Februāris rādījums</td>
			  <td>131</td>
			  <td>221</td>
			  <td>4433</td>
			</tr>
			<tr>
			  <td>2012 Februāris patēriņš</td>
			  <td>5</td>
			  <td>3</td>
			  <td>14</td>
			</tr>
			<tr>
			  <td>2012 Marts rādījums</td>
			  <td><input type="number" class="span2" value="137"></td>
			  <td>226</td>
			  <td><input type="number" class="span2" value="4450"></td>
			</tr>
			<tr>
			  <td>2012 Marts patēriņš</td>
			  <td>6</td>
			  <td>5</td>
			  <td>17</td>
			</tr>
		  </tbody>
		</table>
		<input type="submit" id="save" class="btn success" value="Saglabāt ievadītos datus" >
    </form>
    </div>
 </div>
	    <% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>
