<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
  <form method="post" action="/property/add" >
  <div class="container-fluid">
    <div class="page-header">
      <h2>
      Jauna Īpašuma Reģistrācija
      </h2>
    </div>
    <%- partial('../messages') %>
    <div class="content" >
      
        <fieldset>
          <legend>Īpašuma Dati</legend>
          <div class="clearfix">
            <label><strong>Ēkas Nosaukums</strong></label>
            <div class="input">
              <input class="input-large" id="ProperyNameID" name="property[name]" size="30" type="text" data-content="Šādi īpašums tiks parādīts iedzīvotājiem, īpašumu sarakstā un uz rēķiniem! Piemēri: Brīvības 101, Jūras Skatu Nami, vai Ciemats 'Mucenieki'" data-original-title="Uzmanību!">
              <script type="text/javascript"> $("#PropertyNameID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyNameID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix -->

		<div class="clearfix">
          	<label>Mājas foto</label>

          	<div class="input">
              <div id="homepic">
              </div>
              <div id="showpic"></div>
         		</div>

        </div>

          <div class="clearfix">
            <label>Ielas nosaukums</label>
            <div class="input">
              <input class="input-large" id="ProperyStreetID" name="property[street]" size="30" type="text" data-content="Norādīt Ielas nosaukumu bez mājas numura, piemēram: Brīvības iela." data-original-title=" ">
              <script type="text/javascript"> $("#ProperyStreetID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyStreetID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix -->  
                    
          <div class="clearfix">
            <label>Mājas numurs</label>
            <div class="input">
              <input class="input-large" id="ProperyStreetNumberID" name="property[homenr]" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyStreetNumberID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyStreetNumberID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix -->
          
          
          <div class="clearfix">
            <label>Pilsēta</label>
            <div class="input">
              <input class="input-large" id="ProperyCityID" name="property[city]" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyCityID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyCityID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix -->            
          
          <div class="clearfix">
            <label>Novads</label>
            <div class="input">
              <input class="input-large" id="ProperyRegionID" name="property[region]" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyRegionID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyRegionID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix --> 
          
          <div class="clearfix">
            <label>Pasta Indekss</label>
            <div class="input">
              <input class="input-large" id="ProperyPostalIndexID" name="property[postal_code]" size="30" type="text" data-content=" " data-original-title=" ">
              <script type="text/javascript"> $("#ProperyPostalIndexID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyPostalIndexID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix --> 
          
          
          <div class="clearfix">
            <label>Valsts</label>
            <div class="input">
              <input class="input-large disabled" id="ProperyCountryID" name="property[country]" size="30" type="text" data-content=" " data-original-title=" " placeholder="Latvija" disabled>
              <script type="text/javascript"> $("#ProperyCountryID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyCountryID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix --> 
          
          
          <div class="clearfix">
            <label>Īpašumu skaits</label>
            <div class="input">
              <input class="input-small" id="ProperyUnitCountID" name="property[unitcount]" size="30" type="text" data-content="Lūdzu norādīt kopējo dzīvokļu, komerctelpu, biroju, izīrējamo koplietošanas telpu skaitu (rēķinu skaitu)." data-original-title="Uzmanību!">
              <script type="text/javascript"> $("#ProperyUnitCountID").popover({triger: "hover" });</script> 
              <script type="text/javascript"> $("#ProperyUnitCountID").popover({trigger: "focus"});</script>
            </div>
          </div>
          <!-- /clearfix -->         
        </fieldset>
      
    </div>
  </div>
  <div class="actions" style="padding-left: 250px;">
            <input type="submit" class="btn success" value="Saglabāt un īpašuma detaļas">&nbsp;<a href="/property/new" class="btn">Atcelt</a>
        </div>
  </form>
 
</div>
<% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>