<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>

	<!--START: Left side menu-->
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>

		<!--START: Content -->
      <div class=" content row " > 
        <!--START:center content-->
        
        	<div class="span8" > 
        	                <h3>Auto Stāvvietas</h3>
        	                 <% if(property.plannedworks.length == 0){ %><blockquote><small>Šeit varēs redzēt jūsu mājas ieplānotos darbus</small></blockquote><%}%>
                <ul class="jm-ListTable">
                    <% if(property.parkings != undefined){ %>
                    <% property.parkings.forEach(function(parking){ %>
                      <li class="jm-List">
                              <span><%= parking.title %></span>
                                <span class="seperator"> - </span>
                                <span><% if(parking.unit == undefined){ %>Nepiesaistīta<%}else {%>
                                  <% for(var i=0; i<property.units.length; i++){ %>
                                    <% if(property.units[i].id == parking.unit){ %>
                                      <%= property.units[i].title %>
                                    <% } %>
                                  <%}%>
                                <%}%>
                                </span>
                      </li>
                    <%});%>
                    <%}%>
                </ul>
                    
        	</div>
        <!--END:Center COntent--> 
        <%- partial('../house-rightside',{personal: property.personal, isadmin: isadmin, rulles: property.rulles, contracts: property.contracts }) %>

	</div>
    </div>
</div>
<% }else { %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>