<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
    <div class="container-fluid">
      <div class="page-header">
        <h2>
        <%= property.name %>
        </h2>
      </div>
      <div class="sidebar span2"> 
          <a href="/property/edit/<%= property.id %>" class="btn input-medium">Īpašuma Dati</a> 
          <a href="/property/units/<%= property.id %>" class="btn input-medium">Dzīvokļi/telpas</a>
          <a href="/property/personal/<%= property.id %>" class="btn info input-medium">Personāls un termiņi</a>
		  <a href="/property/meaters/<%= property.id %>" class="btn input-medium">Skaitītāji</a>
      </div>
      <div class="content" >
      <form method="post" action="/property/update-personal/<%= property.id %>" enctype="multipart/form-data">
        <fieldset>
        <div class="clearfix">
            <label><strong>Personāls</strong></label>
              <div class="input">
                <input type='hidden' name='title' value='null'>
                <input type='hidden' name='fullname' value='null'>
                <input type='hidden' name='phone' value='null'>
                <input type='hidden' name='email' value='null'>
                <table class="tinytable" style="margin-top: 10px;">
                  <thead>
                  <tr><th>Tituls</th><th>Vārds Uzvārds</th><th>Telefons</th><th>Epasts</th></tr>
                  </thead>
                  <tfoot>
                  <tr><td colspan="4" style="border-top: solid 1px #DDD"><a href="#" class="btn" onclick="addpersonal()">Pievienot personālu</a></td></tr>
                  </tfoot>
                  <tbody id="personal-list">
                  <% property.personal.forEach(function(pers){ %>
                  <tr><td><input type="text" class="span3" name="title" value="<%= pers.title %>" ></td><td><input type="text" class="span3" name="fullname" value="<%= pers.fullname %>" ></td><td><input type="text" class="span3" name="phone" value="<%= pers.phone %>" ></td><td><input type="text" class="span3" name="email" value="<%= pers.email %>" ></td></tr>
                      <%});%>
                  </tbody>
                </table>
              </div>
            </div>
             <div class="clearfix">
            <label><strong>Termiņu un Kārtība</strong></label>
              <div class="input">
                <textarea name="rulles" rows="6" ><% if(property.rulles != undefined){ %><%= property.rulles %><%}%></textarea>
              </div>
            </div>
            <div class="actions">
            	<input type="submit" class="btn success" value="Saglabāt">&nbsp;<a href="/property/personal/<%= property.id %>" class="btn">Atcelt</a>
       		</div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>
