<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>

	<!--START: Left side menu-->
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>

		<!--START: Content -->
      <div class=" content row " > 
        <!--START:center content-->
        
        	<div class="span8" > 

            	<!--START: Pieņemtie Lēmumi-->
              <div>
                	<h3>Pieņemtie Lēmumi</h3>
                  <% if(decisions.length == 0){ %>
                      <blockquote><small>Šeit būs redzami jūsu mājas pieņemtie lēmumi, balstoties uz diskusijām, balsojumiem un mājas sapulcēm.</small></blockquote>
                    <%}%>
                <ul class="jm-ListTable">
                  <% decisions.forEach(function(decision){ %>
                  <li class="jm-ListItem">
                            <span class="normaldate"><%= decision.date.getDate() %>.<%= decision.date.getMonth()+1 %>.<%= decision.date.getFullYear() %></span>
                            <span class="seperator"> - </span>
                            <span class="shortened"><%= decision.subject.substring(0,40) %><% if(decision.subject.length > 40){ %>...<% } %></span>
                            <span><%= decision.subject %></span>
                            <div class="attachlist">
                            <span class="red sm-11">
                            <% decision.attachments.forEach(function(att){ 
                              var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
                              %>
                              <a href="/attachments/houses/<%= att %>" target="_blank" >
                              <img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
                              </a>
                            <%})%>
                            </span>
                            </div>
                            <div>
                            <% if(decision.ontalk != undefined){ %>
                            <span class=" red sm-11"><a href="/talks/show/<%= decision.ontalk.id %>" alt="" ><%= decision.ontalk.title %></a></span><% } %>
                            </div>
                            <div class="sm-12">
                            	<b> Apstiprināja: </b>
                                <a href="#" class="green"><%= decision.manager.fullname %></a>
                                <span class="date right"><%= decision.date %></span>
                            </div>
                    </li>
                    <% }); %>
                    
                  	<li class="jm-ListTableFooter">
<!--                       <% if(decisions.length > 1 ){ %><a href="#" class="green sm-11">Atvērt visus (<%= decisions.length %>) aktīvos</a><% } %>
							         <span>&nbsp;&nbsp;</span> -->
                      <a href="/property/decision-history/<%= property.id %>" class="green sm-11">Atvērt pilnu vēsturi</a>
                      <% if(isadmin){ %>
                      <a href="#" class="makedecision"  data-controls-modal="modal-decision" data-backdrop="true" data-keyboard="true" >Pieņemt Lēmumu</a><% } %>
                 	 	</li>
                    
                  </ul>
                </div>
                <!--END: Pieņemtie Lēmumi-->
                
                <!--START: Plānotie labiekārtošanas darbi-->
                <div>
                	<h3>Plānotie Labiekārtošanas Darbi</h3>
                  <% if(property.plannedworks.length == 0){ %><blockquote><small>Šeit varēs redzēt jūsu mājas ieplānotos darbus</small></blockquote><%}%>
                <ul class="jm-ListTable">
                <% for(var p=property.plannedworks.length-1 ; p > property.plannedworks.length - 4; p--){ %>
                  <% if(property.plannedworks[p] != undefined){ %>
                	<li class="jm-ListItem">
                        	<span class="normaldate"><%= property.plannedworks[p].date.getDate() %>.<%= property.plannedworks[p].date.getMonth()+1  %>.<%= property.plannedworks[p].date.getFullYear() %></span>
                            <span class="seperator"> - </span>
                            <span class="shortened"><%= property.plannedworks[p].comment.substring(0,40) %><% if(property.plannedworks[p].comment.length > 40){ %>...<% } %></span>
                            <span><%= property.plannedworks[p].comment %></span>
                  </li>
                  <%}%>
                <%}%>
                  		<li class="jm-ListTableFooter">
 <!--                        	<% if(property.plannedworks != undefined && property.plannedworks.length > 1 ){ %><a href="#" class="green sm-11">Atvērt visus (<%= property.plannedworks.length %>) aktīvos</a><% } %>
							<span>&nbsp;&nbsp;</span> -->
                            <a href="/property/planned-works/<%= property.id %>" class="green sm-11">Atvērt pilnu vēsturi</a>
                            <% if(isadmin){ %>
                            <a href="#" class="add-new-work" data-controls-modal="modal-work" data-backdrop="true" data-keyboard="true" >Pievienot jaunu</a><% } %>
                 	 	</li>
                  </ul>                    
                    
                </div>
                <!--END: Plānotie labiekārtošanas darbi-->
                
                <!--START: Auto Stāvvietas-->
                <div>
                	<h3>Auto Stāvvietas</h3>
                    <% if(property.parkings == undefined || property.parkings.length == 0){ %><blockquote><small>Ja mājai ir autostāvvieta, tad šeit būtu saraksts ar vietu sarakstu, dzīvokli, īpašnieku, mašīnas marka un numura zīme</small></blockquote><% } %>
                    <ul class="jm-ListTable">

                    <% if(property.parkings != undefined){ %>
                <% for(var p=property.parkings.length-1 ; p > property.parkings.length - 4; p--){ %>
                  <% if(property.parkings[p] != undefined){ %>
                        <li class="jm-List">
                                <span><%= property.parkings[p].title %></span>
                                  <span class="seperator"> - </span>
                                  <span><% if(property.parkings[p].unit == undefined){ %>Nepiesaistīta<%}else {%>
                                    <% for(var i=0; i<property.units.length; i++){ %>
                                      <% if(property.units[i].id == property.parkings[p].unit){ %>
                                        <%= property.units[i].title %>
                                      <% } %>
                                    <%}%>
                                  <%}%>
                                  </span>
                        </li>
                        <% } %>
                      <%}%>
                    <%}%>
                          <li class="jm-ListTableFooter">
                                <a href="/property/parking/<%= property.id %>" class="green sm-11">Atvērt visas</a>
                                <% if(isadmin){ %>
                                <a href="#" class="add-new-work" data-controls-modal="modal-parking" data-backdrop="true" data-keyboard="true" >Pievienot jaunu</a><% } %>
                        </li>
                      </ul>         
                </div>
                <!--END: Auto Stāvvietas-->
                
                <!--START:Komunālie izdevumi-->
                <div>
                	<h3>Komunālie Izdevumi</h3>
                    <hr>
                    <blockquote><small>katram no mājas komunālajiem maksājumiem pie rēķinu sistēmas konfigurēšanas būs jāatbild vai mājai ir kopējais skaitītājs vai nē, un kā tas sadalās starp iedzīvotājiem</small></blockquote>
                    
                    <!--Item 1-->
                    <div>
                        <h5>1. Aukstā ūdens skaitītājs</h5>
                        <blockquote><small>Uzņēmuma nosaukums</small></blockquote>
                        <blockquote><small>Links uz uzņēmumu</small></blockquote>
                        <blockquote><small>mērvienības cena</small></blockquote>
                        <blockquote><small>ja ir kopējais skaitītājs, tad mājas kopējais patēriņš un kopējais iedzīvotāju patēriņš gan mērvienībās gan latos. Ja nav kopējais, tad parāda vidējo patēriņu uz dzīvokli</small></blockquote>
                        <blockquote><small>ja ir kopējais skaitītājs, tad skaidrojums ka katrs maksā pēc sava dzīvokļa skaitītāja bet starpība, jeb zudums sadalās ... tā un šitā starp iedzīvotājiem</small></blockquote>
                    </div>
                     <!--Item 2-->
                    <div>
                        <h5>2. Apkures skaitītājs</h5>
                        <blockquote><small>Uzņēmuma nosaukums</small></blockquote>
                        <blockquote><small>Links uz uzņēmumu</small></blockquote>
                        <blockquote><small>mērvienības cena</small></blockquote>
                        <blockquote><small>ja ir kopējais skaitītājs, tad mājas kopējais patēriņš un kopējais iedzīvotāju patēriņš gan mērvienībās gan latos. Ja nav kopējais, tad parāda vidējo patēriņu uz dzīvokli</small></blockquote>
                        <blockquote><small>ja ir kopējais skaitītājs, tad skaidrojums ka katrs maksā pēc sava dzīvokļa skaitītāja bet starpība, jeb zudums sadalās ... tā un šitā starp iedzīvotājiem</small></blockquote>
                    </div>
                    
                </div>
                <!--END:Komunālie izdevumi-->
                
        	</div>
        <!--END:Center COntent--> 
        <%- partial('../house-rightside',{personal: property.personal, isadmin: isadmin, rulles: property.rulles, contracts: property.contracts }) %>

	</div>
    </div>
</div>
<div id="modal-decision" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <img src="/images/houses/<%= property.picture %>" alt=""  style="width: 30px; height: 30px; float:left; margin-top: 2px; margin-right: 3px;"  /><h5><%= property.name %></h5>
    </div>
    <div class="modal-body">
    <form method="post" action="/property/make_decision/<%= property.id %>">
    <input type="hidden" name="decision[property]" value="<%= property.id %>" >
  <fieldset>
    <legend style="font-size: 13px">Pievienot mājas lēmumu un slēgt diskusiju</legend>
      <div class="clearfix">
      <label>Saturs</label>
      <div class="input"><textarea  class="xlarge" id="subject" rows="3" name="decision[subject]" ></textarea></div>
    </div>
        <div class="clearfix">
            <label>Pielikumi</label>
            <div class="input">
            <input type="hidden" name="attachments" class="decision-att" value="" >
            <span class="sm-11">Pielikums kurš satur lēmumu aptiprinošus dokumentus</span>
              <div id="houseatt">
              </div>
            <div id="showatt"></div>
        </div>
        </div>
        <div class="clearfix">
          <div class="input">
            <input type="submit" class="btn success" value="Pieņemt lēmumu" >
          </div>
        </div>
    </fieldset>
    </form>
    </div>
 </div>
 <div id="modal-work" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <img src="/images/houses/<%= property.picture %>" alt=""  style="width: 30px; height: 30px; float:left; margin-top: 2px; margin-right: 3px;"  /><h5><%= property.name %></h5>
    </div>
    <div class="modal-body">
    <form method="post" action="/property/addwork/<%= property.id %>">
  <fieldset>
    <legend style="font-size: 13px">Pievienot plānoto labiekārtošanas darbu</legend>
      <div class="clearfix">
      <label>Apraksts</label>
      <div class="input"><textarea  class="xlarge" rows="5" name="comment" ></textarea></div>
    </div>
        <div class="clearfix">
          <div class="input">
            <input type="submit" class="btn success" value="Pievienot" >
          </div>
        </div>
    </fieldset>
    </form>
    </div>
 </div>
 <div id="modal-parking" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <img src="/images/houses/<%= property.picture %>" alt=""  style="width: 30px; height: 30px; float:left; margin-top: 2px; margin-right: 3px;"  /><h5><%= property.name %></h5>
    </div>
    <div class="modal-body">
    <form method="post" action="/property/addparking/<%= property.id %>">
  <fieldset>
    <legend style="font-size: 13px">Pievienot auto stāvvietu</legend>
      <div class="clearfix">
        <label>Nosaukums/Nr</label>
        <div class="input"><input type="text" name="title"></div>
      </div>
      <div class="clearfix">
        <label>Piesaistīts</label>
        <div class="input">
          <select class="span4" name="punit" style="width: 220px">
            <option value="null">Nepiesaistīts</option>
            <% property.units.forEach(function(unit){%>
            <option value="<%= unit.id %>"><%= unit.title %></option>
            <%});%>
          </select>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <input type="submit" class="btn success" value="Pievienot" >
        </div>
      </div>
    </fieldset>
    </form>
    </div>
 </div>
<% }else { %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>
