  <% if (everyauth.loggedIn) { %>
<div class="r-top-min">
    <div class="container-fluid">
      <div class="page-header">
        <h2>
        <%= property.name %>
        </h2>
      </div>
      <div class="sidebar span2"> 
          <a href="/property/edit/<%= property.id %>" class="btn input-medium">Īpašuma Dati</a> 
          <a href="/property/units/<%= property.id %>" class="btn info input-medium">Dzīvokļi un telpas</a>
          <a href="/property/personal/<%= property.id %>" class="btn input-medium">Personāls un termiņi</a>
		  <a href="/property/meaters/<%= property.id %>" class="btn input-medium">Skaitītāji</a>
      </div>
      <div class="content" >
      <form method="post" action="/property/update_units/<%= property.id %>">
        <fieldset>
          <legend>Dzīvokļi un telpas</legend>
            <div class="well">
                <span class="btn small success addunit">Pievienot platību</span><br /><br />
            <table class="tinytable">
              <thead>
                <tr>
                  <th>Platības nosaukums</th>
                  <th>Vārds</th>
                  <th>Uzvārds</th>
                  <th>e-Pasts</th>
                  <th>mobilais nummurs</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="unitblock">
              <% if(property.units.length == 0){ %> 
                      <tr>
                          <td>
                            <input type="hidden" name="unit[count]" value="0">
                            <input type="hidden" name="unit[id]" value="0">
                            <input class="input-small" name="unit[title]" size="30" type="text" placeholder="1. dzīvoklis">
                            </td>
                            <td>
                              <input class="input-small" name="unit[name]" size="30" type="text" value="<%= everyauth.user.fullname.split(" ")[0] %>">
                            </td>
                            <td>
                              <input class="input-small" name="unit[surname]" size="30" type="text"  <% if(everyauth.user.fullname.split(" ").length > 1) { %>value="<%= everyauth.user.fullname.split(" ")[1] %>" <% } %>>
                            </td>
                            <td>
                              <input class="input-small" name="unit[email]" size="30" type="text" value="<%= everyauth.user.email %>" >
                            </td>
                            <td>
                              <input class="input-small" name="unit[phone]" size="30" type="text">
                            </td>
                            <td>
                            </td>
                            <td>
                              <a href="#" class="btn small danger" data-content="Šeit jāpievieno apstiprinājums vai nu Modal popup vai iekš pop-overa" data-original-title="TODO!" onclick="$(this).parent().parent().remove();">Dzēst</a>
                            </td>
                      </tr>
              <% }else{ 
                   for(var i=0; i< property.units.length; i++){ %>
                     <tr>
                          <td>
                            <input type="hidden" name="unit[count]" value="0">
                          <input type="hidden" name="unit[id]" value="<%= property.units[i]._id %>" >
                            <input class="input-small" name="unit[title]" value="<%= property.units[i].title %>" size="30" type="text" placeholder="1. dzīvoklis">
                            </td>
                            
                            <td>
                              <input class="input-small" name="unit[name]" value="<%= property.units[i].name %>" size="30" type="text">
                            </td>
                            <td>
                              <input class="input-small" name="unit[surname]" value="<%= property.units[i].surname %>" size="30" type="text">
                            </td>
                            <td>
                              <input class="input-small" name="unit[email]" value="<%= property.units[i].email %>" size="30" type="text">
                            </td>
                            <td>
                              <input class="input-small" name="unit[phone]" value="<%= property.units[i].phone %>" size="30" type="text">
                            </td>
                            <td>
                            </td>
                      
                            <td>
                            <a href="#" class="btn small danger" data-content="Šeit jāpievieno apstiprinājums vai nu Modal popup vai iekš pop-overa" data-original-title="TODO!" onclick="$(this).parent().parent().remove();">Dzēst</a>
                            </td>

                      </tr>
              <%   }
                 } %>
                </tbody>
            </table>
            </div>
            <div class="actions">
            	<input type="submit" class="btn success" value="Saglabāt izmaiņas">&nbsp;<a href="/property/units/<%= property.id %>" class="btn">Atcelt</a>
       		  </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(function(){
    var optcount = 1;
    $('.addunit').click(function(){
      $('#unitblock').append('<tr><input type="hidden" name="unit[count]" value="0"><input type="hidden" name="unit[id]" value="0"><td><input class="input-small" name="unit[title]" size="30" type="text" placeholder="# dzīvoklis"></td><td><input class="input-small" name="unit[name]" size="30" type="text"></td><td><input class="input-small" name="unit[surname]" size="30" type="text"></td><td><input class="input-small" name="unit[email]" size="30" type="text"></td><td><input class="input-small" name="unit[phone]" size="30" type="text"></td><td></td><td><a href="#" class="btn small danger" data-content="Šeit jāpievieno apstiprinājums vai nu Modal popup vai iekš pop-overa" data-original-title="TODO!" onclick="$(this).parent().parent().remove(); " >Dzēst</a></td></tr>');
    });
  });
</script>
  <% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>
