  <% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	 <div class="container-fluid">
      <div class="page-header">
        <h2>
        <%= unit.title %> - <%= unit.parent.name %>
        </h2>
        <p> Te nāk kaut kādi dati par konkrēto dzīvojamo platību </p>
      </div>
      </div>
</div>
  <% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>
