<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>

	<!--START: Left side menu-->
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>

		<!--START: Content -->
      <div class=" content row " > 
        <!--START:center content-->
        
        	<div class="span8" > 
        	                <h3>Plānotie labiekārtošanas darbi</h3>
        	                 <% if(property.plannedworks.length == 0){ %><blockquote><small>Šeit varēs redzēt jūsu mājas ieplānotos darbus</small></blockquote><%}%>
                <ul class="jm-ListTable">
                  <% property.plannedworks.forEach(function(work){ %>
                  <li class="jm-ListItem">
                          <span class="normaldate"><%= work.date.getDate() %>.<%= work.date.getMonth()+1  %>.<%= work.date.getFullYear() %></span>
                            <span class="seperator"> - </span>
                            <span class="shortened"><%= work.comment.substring(0,40) %><% if(work.comment.length > 40){ %>...<% } %></span>
                            <span><%= work.comment %></span>
                  </li>
                <%});%>
                </ul>
                    
        	</div>
        <!--END:Center COntent--> 
        <%- partial('../house-rightside',{personal: property.personal, isadmin: isadmin, rulles: property.rulles, contracts: property.contracts }) %>

	</div>
    </div>
</div>
<% }else { %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>