<% if (everyauth.loggedIn) { %>
<h1>Sarunas</h1>
<%- partial('../messages') %>
<form method="post" action="/talks/add">
	<input type="hidden" name="talk[userid]" value="<%- everyauth.user.id %>" />
	<input type="hidden" name="talk[username]" value="<%- everyauth.user.fullname %>" />
	<fieldset>
		<legend>Pievienot jaunu sarunu tēmu</legend>
		<div class="clearfix">
			<label for="title">Virsraksts</label>
			<div class="input"><input  class="xlarge" type="text" name="talk[title]" />
			</div>
		</div>
		<div class="clearfix">
			<label for="content">Saturs</label>
			<div class="input"><textarea  class="xxlarge" name="talk[content]" rows="3" /></textarea></div>
		</div>
		<div class="clearfix">
          	<label>Foto</label>
          	<div class="input">
          	<input type="hidden" name="pictures" value="" />
              <div id="talkpic">
              </div>
            <div id="showpic"></div>
     		</div>
        </div>
        <div class="clearfix">
          	<label>Pielikumi</label>
          	<div class="input">
          	<input type="hidden" name="attachments" value="" />
              <div id="talkatt">
              </div>
            <div id="showatt"></div>
     		</div>
        </div>
		<div class="actions">
  	<input type="submit" class="btn primary" value="Pievienot">
  	<a class="btn" href="/talks">Atcelt</a>
  		</div>
  </fieldset>
</form>

<% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>