<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
				<%- partial('../leftside') %>
				<% if(activehouse != ""){ %>
				<li class="pad-5" ><a href="/talks/create"  class="btn success strong small" >Izveidot sarunu</a></li>
				<% } %>
				</ul>
		</div>
		<div class="content" >
			<div class="talk-list">
				<% talks.forEach(function(talk){ %>
				
				<div class="compact">
					<a href="/talks/show/<%- talk.id %>" ><h3><%= talk.title %></h3></a>
					<p><%= talk.content.substring(0,150) %> <% if(talk.content.length > 150){ %>...<% } %></p>
					<div class="piclist">
					<% talk.pictures.forEach(function(pic){ %>
						<a href="/images/talks/<%= pic %>"  class="grouped_elements" rel="<%= talk.id %>">
						<img src="/images/talks/<%= pic %>" alt="" class="mediumpic" />
						</a>
					<%})%>
					</div>
					<div class="attachlist">
					<% talk.attachments.forEach(function(att){ 
						var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
						%>
						<a href="/attachments/talks/<%= att %>" target="_blank" >
						<img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
						</a>
					<%})%>
					</div>
					<%- partial('../linkline.html', {line: talk, house: talk.house}) %>
					<%- partial('../mini_comments.html', {comments: talk.comments, parent: talk.id }) %>
				</div>
				
				<% }) %>
			</div>
		</div>
	</div>
</div>
<% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>