<% if (everyauth.loggedIn) { %>
<script type="text/javascript">
	$(function(){

		// Delete User
		$('.delete').click(function(){
			
			 var talkId = this.id;
			
			// $("#dialog-confirm" ).dialog({
			// 	resizable: false,
			// 	height:180,
			// 	width:400,
			// 	modal: true,
			// 	buttons: {
			// 		"Dzēst": function() {
			//			$( this ).dialog( "close" );
						$.ajax({
							   type: "DELETE",
							   url: "/talks/destroy/" + talkId,				   
							   success: function(msg) {				   	  
								  window.location.replace("/talks");
							   },
							   error: function(msg) {					  
								  alert("Sarunu neizdevās izdzēst!");
							   }
						});
			// 		},
			// 		"Atcelt": function() {
			// 			$( this ).dialog( "close" );
			// 		}
			// 	}
			// });			
			
		});

		$('#makedecision').click(
		);
		
	});
</script>
<div id="dialog-confirm" style="display: none;" title="Delete talk?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Šis ieraksts tiks neatgriezeniski dzēsts. Vēlies dzēst?</p>
</div>

<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>
		<div class="span10" >
			<div class="article">
				<h1><%= talk.title %></h1>
		  		<p><%= talk.content %></p>
				<div class="piclist">
					<% talk.pictures.forEach(function(pic){ %>
						<a href="/images/talks/<%= pic %>"  class="grouped_elements">
						<img src="/images/talks/<%= pic %>" alt="" class="mediumpic" />
						</a>
					<%})%>
				</div>
				<div class="attachlist">
					<% talk.attachments.forEach(function(att){ 
						var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
						%>
						<a href="/attachments/talks/<%= att %>" target="_blank" >
						<img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
						</a>
					<%})%>
				</div>
				<% if(talk.decision != undefined){ %>
				<div class="decision well compact alert-message block-message error">
					<h5>Pieņemts mājas lēmums</h5>
					<%= talk.decision.subject %>
					<br />
					<span class="red sm-11">
                        <% talk.decision.attachments.forEach(function(att){ 
                          var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
                          %>
                          <a href="/attachments/houses/<%= att %>" target="_blank" >
                          <img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
                          </a>
                        <%})%>
                    </span>
                    <br/>
                    <small class="sm-11">Diskusija ir slēgta un tai vairs nevar pievienot komentārus</small>
				</div>
				<% } %>
				<%- partial('../votelist.html',{votes: talk.votes, id: talk.id,
									 myvotes: myvotes, total: talk.uservotes.length, locked: talk.decision != undefined}) %>
		  		<%- partial('../article_info', {article: talk}) %>
		  		<% if(isadmin && talk.decision == undefined){ %>
		  		<a href="#" class="makedecision"  data-controls-modal="modal-decision" data-backdrop="true" data-keyboard="true" >Pieņemt Lēmumu</a><% } %>
			</div>
		<hr />
		<%- partial('../comments', {comments: talk.comments, article_id: talk.id, locked: talk.decision != undefined}) %>	
  		</div>
	</div>
</div>
<div id="modal-decision" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <img src="/images/houses/<%= talk.house.picture %>" alt=""  style="width: 30px; height: 30px; float:left; margin-top: 2px; margin-right: 3px;"  /><h5><%= talk.house.name %></h5>
    </div>
    <div class="modal-body">
    <form method="post" action="/property/make_decision/<%= talk.house.id %>">
    <input type="hidden" name="decision[property]" value="<%= talk.house.id %>" >
    <input type="hidden" name="decision[ontalk]" value="<%= talk.id %>" >
	<fieldset>
		<legend style="font-size: 13px">Pievienot mājas lēmumu un slēgt diskusiju</legend>
    	<div class="clearfix">
			<label>Saturs</label>
			<div class="input"><textarea  class="xlarge" id="subject" rows="3" name="decision[subject]" ></textarea></div>
		</div>
        <div class="clearfix">
          	<label>Pielikumi</label>
          	<div class="input">
          	<input type="hidden" name="attachments" class="decision-att" value="" >
          	<span class="sm-11">Pielikums kurš satur lēmumu aptiprinošus dokumentus</span>
              <div id="houseatt">
              </div>
            <div id="showatt"></div>
     		</div>
        </div>
        <div class="clearfix">
        	<div class="input">
        		<input type="submit" class="btn success" value="Pieņemt lēmumu" >
        	</div>
        </div>
    </fieldset>
    </form>
    </div>
 </div>
<% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>