<div class="info">
		<a class="author " href="/users/show/<%-article.userid %>" ><%= article.username %></a>
		<span class="date margin-l-10"><%= article.date %></span>
			<% if(everyauth.user.id == article.userid && article.decision == undefined){ %>
			<a href="#" class="delete margin-l-10" id="<%= article.id %>">
				Dzēst
			</a>
		<% } %>
</div>