<div class="comments">
<% comments.forEach(function(comment){ %>
	<blockquote>
		<p><%= comment.content %></p>
		<div class="info"><a href="/users/show/<%- comment.userid %>" class="author"><%= comment.username %></a> <span class="date margin-l-10"><%= comment.date %></span></div>
	</blockquote>
<% }) %>
</div>
<% if(!locked){ %>
<div class="add-comment">
<form method="post" action="/talks/addcomment/<%- article_id %>">
		<input type="hidden" name="comment[userid]" value="<%- everyauth.user.id %>" >
		<input type="hidden" name="comment[username]" value="<%- everyauth.user.fullname %>" >
		<textarea  class="xxlarge" name="comment[content]" rows="3" placeholder="Ievadi komentāru..."></textarea>
		<input type="submit" class="btn success" value="Pievienot komentāru" style="margin-top: 10px;" >
</form>
</div>
<% } %>