<footer class="footer">
  <div class="container">
    <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
    <div class="links">
      <a href="/info/about">Par mums</a>
      <span class="dot"> · </span>
      <a href="/info/contacts">Kontakti</a>
      <span class="dot"> · </span>
      <a href="/info/terms">Noteikumi</a>
      <span class="dot"> · </span>
      <a href="/info/privacy">Konfidencialitāte</a>
      <span class="dot"> · </span>
      <a href="/info/faq">Jautājumi un atbildes</a>
	  </div>
  	<div id="copyright">
  	Copyright © 2011 - 2012 SIA Saimniekot
  	</div>
  </div>
</footer>