        <!--START: Right Side Content-->
        <div class="span4 jm-LeftBar2-Container" style=" float:right"> 
          <!--START: Apsaimniekošanas Personāls -->
          
          <div class="jm-RightSide-ContentSection"> 
          <% if(isadmin){ %><a class="btn danger span3" href="/property/edit/<%= property.id %>" style="margin-top:5px; margin-bottom:5px; text-align: center; font-weight: bold">Saimniekot</a><% } %>

          <div class="jm-RightSize-Header1">Apsaimniekošanas Personāls:</div>
          <% if(personal.length == 0){ %>
          <blockquote><small>Šeit būs redzama apsaimniekošanas personāla kontaktinformācija</small></blockquote>
          <%}else{%>
            <% personal.forEach(function(pers){ %>
            <table class="bordered-table zebra-striped tinytable">
              <tbody>
                <tr>
                  <td colspan="3"><span class="jm-RightSize-Header2"><%= pers.title %></span></td>
                </tr>
                <tr>
                  <td><%= pers.fullname %></td>
                  <td><span><%= pers.phone %></span></td>
                  <td><a href="mailto:<%= pers.email %>" class="email" data-placement="below" rel='twipsy' title='<%= pers.email %>' ><img src="/buttons/email.png" style="margin:0px; padding:0px"></a></td>
                </tr>
              </tbody>
            </table>
            <% }); %>
          <% } %>
          </div>
          
          <!--End: Apsaimniekošanas Personāls --> 
          
          <!--START: Svarīgākā info un termiņi-->
          <div class="jm-RightSide-ContentSection">
          <div class="jm-RightSize-Header1">Termiņi un kārtība:</div>
          <% if(rulles == undefined){ %>
          <blockquote><small>Šeit īsi un uzskatāmi parādam svarīgākos datumus un informāciju kuru vajadzētu zināt katram iedzīvotājam... kur ātri uzmest aci</small></blockquote>
          <%}else{%>
              <div class="span4"><%= rulles %></div>
          <% } %>
          </div>
          <!--START: Svarīgākā info un termiņi-->
          <!--START: Parādnieku saraksts-->
          <div class="jm-RightSide-ContentSection">
          	<div class="jm-RightSize-Header1">Parādi:</div>
          	<blockquote>
            	<small>Lūdzu cienīsim savus kaimiņus un nedzīvosim uz citu rēķina!</small>
                <small>Parādu laicīga atmaksa ļaus realizēt vairāk mājas labiekārtošanas darbu!</small>
            </blockquote>
          	
          </div>
          <!--END: Parādnieku saraksts-->
          
          <!--START: Mājas Bilance-->
          <div class="jm-RightSide-ContentSection">
          	<div class="jm-RightSize-Header1">Mājas Bilance:</div>
          	<blockquote>
            	<small>Biedrības kontu atlikumi</small>
                <small>Summas izmaiņas +/- un saite uz grafiku kur varēs apskatīt konta izmaiņas ilgākā laika periodā, turklāt kopā ar paveiktiem uzlabojuma darbiem un plānotajiem !</small>
            </blockquote>
          
          </div>
          <!--END: Mājas Bilance-->
          
          <!--START: Līgumi, sapulču protokoli, citi mājas dokumeni-->
          <div class="jm-RightSide-ContentSection">
          	<div class="jm-RightSize-Header1">Līgumi, sapulču dokumenti:</div>
            <% if(contracts == undefined){ %>
          	<blockquote>
            	<small>Apsaimniekošanas līgumi, grozījumi</small>
                <small>Sapulču dokumenti</small>
                <small>Citi ar māju saitīti dokumenti</small>
            </blockquote>
            <%}%>
            <% if(contracts != undefined){ %>
           <ul class="jm-ListTable">
                  <% contracts.forEach(function(contract){ %>
                  <li class="jm-ListItem">
                    </li>
                    <% }); %>         
            </ul>
            <% } %>
          </div>
          <!--END: Līgumi, sapulču protokoli, citi mājas dokumeni-->
          
          </div>
          <!-- END: RightSide -->