<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    	<title>Saimnieko.lv</title>
    	<!-- CSS -->
    	<link rel="stylesheet" href="/css/style.css" />
    	<link rel="stylesheet" href="/css/flexslider.css" />
    	<link rel="stylesheet" href="/css/rihards.css" />
      <link rel="stylesheet" href="/css/jm.css" />
      <link rel="stylesheet" href="/css/fileuploader.css" />
      <link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
        <!--Visual Hacks for old IE.. such as shadow fixes-->
        <!--[if lte IE 8]>
       		<link rel="stylesheet" href="/css/iefix.css" />
       <![endif]-->
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
       <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      <!-- Le javascript -->
    	<!-- SCRIPTS -->
    <script type="text/javascript" src="/js/fileuploader.js" ></script>
		<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-alerts.js"></script>
		<script type="text/javascript" src="/js/bootstrap-dropdown.js"></script>
		<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
		<script type="text/javascript" src="/js/bootstrap-popover.js"></script>
		<script type="text/javascript" src="/js/bootstrap-scrollspy.js"></script>
		<script type="text/javascript" src="/js/bootstrap-tabs.js"></script>
		<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="/js/prettydate.js"></script>
    <script type="text/javascript" src="/js/ba-linkify.min.js"></script>
    <script type="text/javascript" src="/js/uploaders.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="/js/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="/js/bootstrap-twipsy.js"></script>
    
  </head>
  <body>  	
  	<%- partial('topbar') %>
  	<div class="container">
  		<%- body %> 
		  <div class="clearfooter"></div>
	  </div>	
  	<%- partial('footer') %>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>