    	<ul class="jm-LeftBar2-Container">
            <li class="jm-LeftBar-li property-on-side" id="myprofile">
              <a  href="/users/show/<%= everyauth.user.id %>">
<!--                  <img class="jm-LeftBar-ProfileImage" src="/images/nopic.jpg" alt="">
                  <span class="jm-LeftBar-ProfileName green" ><%= everyauth.user.fullname %></span>-->
                  
                  <span class="green" style="font-weight:bold" ><%= everyauth.user.fullname %></span>
                  <img style="width:150px; height:150px" src="/images/nopic.jpg" alt="">
                  
              </a>
            </li>
            <% if(activehouse != ""){ %>
            
            <li id="active-property" onclick="document.location.href = '/property/show/<%= activehouse %>'">
            </li>
              <li>
<!--               <div class="sis_klases_nav_lietoju_lai_atzimetu_kura_sadala_haidojaas">
<div class="jm-LeftBar-Bock"> <a href="#">Paziņojumi  <span class="label success">2</span></a>  </div>
                    <div class="jm-LeftBar-Bock"> <a href="#">Aktīvās Diskusijas  <span class="label success">4</span></a>  </div> -->
                  	<div class="jm-LeftBar-Bock">Vēstules:</div>
                    <div class="jm-LeftBar-Bock"> 
                      <a class="jm-LeftBar-InboxItem green" href="/inbox">Izveidot</a>
                    	<a  class="jm-LeftBar-InboxItem green" href="/inbox/received">Saņemtās  
                      <% if(everyauth.user.inbox.length > 0){ %>
                        <span class="label important"><%= everyauth.user.inbox.length %></span>
                        <% } %></a>  
                    </div>
                    <div class="jm-LeftBar-Bock"> 
                    	<a  class="jm-LeftBar-InboxItem green" href="/inbox/sent">Izsūtītās</a>  
                    </div>
<!--                   </div>  -->
                  
            </li>
            <%}%>
		