<span class="date"><%= line.date %></span>
<a class="author" href="/users/show/<%= line.userid %>"><%= line.username %></a>
<span> • </span>
<a href="#" class="green sm-11 fcomment" >Komentēt</a>
<a href="/property/edit/<%= house._id %>" class="green sm-11 right"><%= house.name %></a>