<% if (hasMessages) { %>

  <div class="alert-msg">  	
    <% messages().forEach(function(msg){ %>
    <div class="alert-message warning fade in">
	  <a class="close" href="#">×</a>
	  <%- msg %>
	</div>
    <% }) %>
  </div>
  <div style="clear: both;"></div>
<% } %>