<ul class="uiUfi <% if(comments.length == 0){ %>hidden<% } %>">
<!-- bultiņa -->
<li class="ufiNub"><i></i></li>
<!-- comment block -->
<li>
	<ul id="commentblock<%= parent %>">
	<% if(comments.length > 2) { %>
	<li class="viewall ufiItem">
		<span class="link" onclick="$(this).parent().parent().children().removeClass('hidden');">Skatīt visus <%= comments.length %> komentārus</span>
	</li>
	<% } %>
<% var i = 0
comments.forEach(function(comment){ 
	 i++ %>
	<li class="ufiItem <% if(i<(comments.length-1)){ %>hidden<%}%>">

		<a class="authorpic" href="#"><img class="authorpic" src="/images/nopic.jpg" alt=""></a>
		<div class="commentContainer">
		<a class="strong green" href=""><%= comment.username %></a> 

		<span data-jsid="text" class="commentBody"><%= comment.content %>
		</span>

		<div class="date"><%= comment.date %></div>
		</div>
		</li>
<% }) %>

	</ul>
</li>

<!-- add comment -->
<li class="ufiItem">
	<div class="commentBox">
		<input type="text" id="<%= parent %>" class="minicomment" placeholder="pievieno komentāru..." >
	</div>
</li>

</ul>

