
  	<div class="left-content">
	  	<div class="flexslider">
		  <ul class="slides">
		    <li>
		      <h3>Pārvaldīšana</h3>
		      <p>Ietekmēt pārvaldīšanas procesu,
		      piedalīties lēmumu pieņemšanā,
		      saņemt paziņojumus no pārvaldnieka,
		      piekļūt mājas dokumentiem</p>
		    </li>
		    <li>
		      <h3>Maksājumi</h3>
		      <p>Saņemt e-rēķinus iesniegt
		      skaitītāju rādītājus
		      analizēt skaitītāju rādītājus
		      apmaksāt rēķinus</p>
		    </li>
		    <li>
		      <h3>Kaimiņošana</h3>
		      <p>Saņemt steidzamu ziņu no kaimiņiem
		      	pateikties vai izteikt sūdzību kaimiņiem.
		      	Izvietot paziņojumu konkrētā rajonā. </p>
		    </li>
		  </ul>
		</div>
	</div>
	<form action="/register" method="POST">
		<fieldset id="reg">

		<legend class="small-lg" >
  		<% if(unit != null){ %> 
  		<h5>Atpazīsti savu māju?</h5>
  		<h3><%= unit.parent.name %></h3>
  		<img class="mediumpic" src="/images/houses/<%= unit.parent.picture %>" alt=""/><br />
  		<script>
  		$(function(){
  			$("#login").hide();
  		});
  		</script>
  		<%}%>
		Vēlies saimniekot? Reģistrējies!</legend>
			<div class="clearfix">
				<label for="email">Epasts</label>
				<div class="input">
				<input  class="xlarge" type="text" name="email" <% if(unit != null){ %>value="<%= unit.email %>"<%}%>>
				</div>
			</div>
			<div class="clearfix">
				<label for="password">Parole</label>
				<div class="input">
				<input  class="xlarge" type="password" name="password">
				</div>
			</div>
			<div class="clearfix">
				<label for="fullname">Vārds</label>
				<div class="input">
				<input  class="xlarge" type="fullname" name="fullname" id="fullname" <% if(unit != null){ %>value="<%= unit.name %> <%= unit.surname %>"<%}%> >
				</div>
			</div>
			<% if(unit != null){ %> 
				<input type="hidden" name="units" value="<%= unit.id %>" >
				<input type="hidden" name="houses" value="<%= unit.parent.id %>" >
			<% } %>
			<div class="registration">
				<input type="submit" class="btn success strong" value="Reģistrēties">
			</div>
		</fieldset>
	</form>
