<% if (everyauth.loggedIn) { %>
<div class="topbar inside" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="/">Saimnieko.lv</a>
      <ul class="nav">
        <li><a href="/talks">Sarunas</a></li>
        <li><a href="/votes">Balsojumi</a></li>
        <li><a href="/inbox">Vēstules</a></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="addhouse"></li>
        <li class="dropdown" id="activehouse-top">
          <ul class="dropdown-menu" id="inactivehouses-top">
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">
      		<%- JSON.stringify(everyauth.user.fullname).replace('"','').replace('"','') %>
      	  </a>
          <ul class="dropdown-menu">
            <li>   
    		<a class="signout-button js-signout-button" href="/logout">Iziet</a>
  			</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<% } else { %>
<div class="topbar">
	<div class="topbar-inner">
		  <div class="container">
			<div id="title"><h1><a href="/">Saimnieko.lv</a></h1></div>
			<div id="login">
				<form action="/login" method="POST">
					<div class="left">
						<label for="email" class="login-title">Epasts</label>
						<div class="login-input">
							<input  type="text" name="email" class="span3">
						</div>
					</div>
					<div class="left">
						<label for="password" class="login-pass">Parole</label>
					<div class="login-input-10" >
						<input type="password" name="password" class="span3">
					</div>
					</div>
					<div class="login-submit">
						<button type="submit" class="btn" value="Ienākt">Ienākt</button>
					</div>
					<!--<div style="float:left; margin-top: 17px; margin-left: 5px;">
					<a class="btn" href="/auth/twitter" ><img src="http://ir.lv/images/share-twitter.png" alt="" style="width: 14px; display:block; float:left; margin-right: 5px;" /></a>
					<a class="btn" href="/auth/facebook" ><img src="http://www.ir.lv/images/share-facebook.png" alt="" style="width: 14px; display:block; float:left; margin-right: 5px;" /></a>
					</div>-->
				</form>
			</div>
		</div> 
	</div>
</div>
<% } %>