<% if(votes.length > 0){ %> 
<div class="input">
<ul class="inputs-list votes">
<% votes.forEach(function(voteopt){ %>
	<li class="votebar" >
				<% if(!locked){ %>
				<input <% if(voteopt.allowmultiple == true){ %> type="checkbox" <%} else { %> type="radio" <% } %> name="<%- id %>" value="<%- voteopt._id %>" 
				<% for(var i=0; i<myvotes.length; i++ ){ 
				if( myvotes[i].vote == voteopt.id ){ %>checked="checked" <% break; }%> 
				<% } %>

				onclick="makevote('<%- id %>','<%- voteopt._id %>','<%- everyauth.user.id %>')" >
					
				<div class="pas vbar" onclick="makevote('<%- id %>','<%- voteopt._id %>','<%- everyauth.user.id %>')" ><%}else{%>
					<div class="pas vbar" >
					<%}%>	
					<div class="shaded" style="width:<%= (100 / total) * voteopt.count  %>%">
					</div>
					<div class="label">
						<%= voteopt.option %>
						<span style="float:right"><%= voteopt.count %>
					</span>
					</div>
				</div>
	</li>
<% }) %></ul>
</div>
<% } %>
