@charset "utf-8";
/* CSS Document */
/* workarounds for old IE*/

.jm-LeftBar2-Container{
	
    border-bottom-left-radius:  0px ;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: black;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 0px;
	padding-bottom: 15px;
	padding-left: 12px;
	padding-right: 13px;
	padding-top: 6px;

	border:solid 1px  #EEEEEE;
	border-right: solid 5px #EEEEEE;
	border-bottom: solid 5px #EEEEEE;
}