@charset "utf-8";
/* CSS Document */

/* Accounting tables */

.compact-margin{
	margin-bottom:0px;
	margin-top:0px;
}
.compact-padding{
	padding-bottom:0px;
	padding-top:0px;
}

.remove-sideMargins{
	padding-left:0px;
	padding-right:0px;
}


table.accounting {
	
	background-color: #f5f5f5;
	padding-bottom:5px;
	margin:0px;
	width:auto;
	/* width:100%;
  
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  */
}

.accounting th {
 /* background-color: #f5f5f5;
  margin-bottom: 0px;
  padding: 3px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align:left;*/
  	border-left:hidden;
	border-right:hidden;
	text-align:left;
	vertical-align:bottom;

  
}

.accounting tr {

	vertical-align:middle;
	background-color:#F4F4F4
	/*vertical-align:top;
	border:none;
	border-bottom:1px #DDD;
	*/
	
}

.accounting td {
	border-left:hidden;
	border-right:hidden;
	
	padding-left:6px;
	padding-right:4px;
	padding-bottom:2px;
	padding-top:1px;
	margin:0px;
	text-align:left;
	vertical-align:middle;
		min-width:20px;
	max-width:200px;
	
	/*padding:0px;
	border:none;
	background-color:#fff;
	font-size:.9em;*/
}
.accounting td input, textarea, .uneditable-input {
	border-radius: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border:hidden;
	width:100%;

	//width:90%;

	
	
	
/*	border:none;
	width:100%;
	height:100%;
	//width:90%;
	//height:90%;
	padding:0px;
	margin:1px;
	


	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	color: gray;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
*/

}

#changed {
	background-color:#D7F0BF;
}

/* Podio Style stuff */
.comment-box {
margin-top: 10px;
position: relative;
border-top: 1px solid #ECECEC;
border-left: 1px solid #ECECEC;
border-right: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
background: #F6F6F6;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
font-size: 11px;

}

.comment-box > .inner {
display: table-cell;
width: 2000px;
}

.comment-box .comment-box-arrow {
top: -8px;
left: 5px;
position: absolute;
z-index: 2;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 8px solid #ECECEC;
display: inline-block;
height: 0;
margin: 0 auto;
}

.comment-box .comment-box-arrow .arrow-border {
position: absolute;
top: 1px;
left: -8px;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 8px solid #F6F6F6;
}



.comment-box .show-all-comments {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
border-bottom: 1px solid #ECECEC;
border-top: 1px solid white;
display: block;
padding: 5px;
color: #3376A4;
background: url(/static/themes/hoist/images/more-comments.png) no-repeat 7px center;
padding-left: 27px;
margin-bottom: 0;
font-size:11px;
}

.hidden {
display: none;
}

.comment-box .comment {
clear: both;
position: relative;
border-bottom: 1px solid #ECECEC;
border-top: 1px solid white;
padding: 5px;
}

.comment-box .commentcontentwrapper {
margin-left: 22px;
margin-right: 10px;
word-wrap: break-word;
}

.comment-box .add-comment {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: white;
display: block;
padding: 5px 5px 5px 7px;
margin: 5px;
border: 1px solid #CCC;
color: #BEBEBE;
font-size: 11px;
color: #BEBEBE;
}

.comment-box .comment-composer {
position: relative;
padding: 5px;
}

.comment-box .new-comment-form {
padding: 5px 0 5px 0;
margin-bottom: 10px;
position: relative;
}

/*Override for CONTENT DIVs within Container-Fluid DIVs
Addin light blue splitter line between WALL and left side items
*/


.jm-uiVerticalLeftLine {
	border-left: 1px solid #EEE
}
.jm-Clear-All-Margins {
	margin:0px;
	padding:0px;
}

.jm-spacer20{
	margin:20px;
}

.jm-WallPostItem{
	padding:20px 0;
	border-bottom:1px solid#EEE;
	position:relative;
	list-style:none;
	min-height:50px;
	max-width:400px;
	line-height: 1.28;
	font-size:12px;
	color: black;
}

.jm-WallPostItemBodyWrap{
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}

.jm-WallPostItemMessageBlock{
	word-wrap: break-word;
	margin: 0 0 5px 0;
	color: black;
	font-size: 11px;
	font-weight: normal;
}

.jm-WallPostItemTitle{
	padding-bottom: 3px;
	font-weight: bold;
}

.jm-WallPostItemMessage{
	
}

.jm-WallPostItemFooter{
	color: #999;
}

.jm-WallUserPicture{
	margin-right:15px;
	float:left;
	vertical-align:top
	
}

.jm-LeftBar-ul {
	background: #F6F6F6;
	min-height:500px;
}

.jm-LeftBar-li {
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid white;
	-webkit-transition: all 0.2s ease-in;
}

.jm-LeftBar-ProfileImage{
	float:left;
	margin: 5px 5px 5px 0px;
	height:40px;
	width:40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.jm-LeftBar-ProfileName{
	font-weight: 800;
	padding: 0px 5px 0px 0px;
	height:50px;
	vertical-align: middle;
	display:table-cell;
}

.jm-LeftBar-Bock{
	clear:left;	
}

.jm-LeftBar-InboxItem{
	padding-left:30px;
}

.jm-LeftBar2-Container{
	
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: black;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	min-width: 0px;
	padding-bottom: 15px;
	padding-left: 12px;
	padding-right: 13px;
	padding-top: 6px;
	
	-moz-box-shadow: 2px 2px 15px #E5E5E5;
	-webkit-box-shadow: 2px 2px 15px #E5E5E5;
	box-shadow: 2px 2px 15px #E5E5E5;
	
    border:solid 1px  #EEEEEE;
}


.jm-MailSelectedRecipient {
	display: inline-block;
	height: 14px;
	width:auto;
	margin:1px 1px 1px 3px;
	border: 1px solid #C5C5C5;
	cursor: default;
  	background-color: #e6e6e6;
  	background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  	padding: 2px 4px 2px 8px;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 11px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
	
	
	
}

.jm-MailSelectedRecipientX{
	vertical-align: text-bottom;
	padding:0px 0px 0px 4px;
	margin: 0px;
	
}

.jm-RightSize-Header1{
	font-size:14px;
	font-weight:800;
}

.jm-RightSize-Header2{
	font-size:12px;
	font-weight:800;
}

.jm-RightSide-ContentSection{
	margin-bottom:18px;
}

ul.jm-ListTable{
	list-style-type: none;
	width: 100%;
	margin-bottom: 18px;
	padding: 0;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

ul.jm-ListTable li{
	padding-left:10px;
	padding-bottom:4px;
	background-color: #F9F9F9;
	border-bottom:1px solid #DDD;
/*	height:22px;
	overflow:hidden;*/
}

ul.jm-ListTable li:hover{
	background-color: #f5f5f5;
}

/*ul.jm-ListTable li:focus:hover{
	overflow:auto !important;
	height:auto !important;
	padding-bottom:20px;
}*/

ul.jm-ListTable li.jm-ListTableSelected{
	padding-bottom:8px;
	background-color: #F9F9F9 !important;
	color: #404040;
	}

ul.jm-ListTable li.jm-ListTableFooter{
	background: whiteSmoke !important;
	padding:15px, 10px, 10px, 10px;
	border-bottom:none;
	overflow: auto;
}
ul.jm-ListTable li.jm-ListTableSelected div.attachlist{
	margin-top:4px;
}

/* This makes shortened versions and on select opens detailed version */
ul.jm-ListTable li.jm-ListTableSelected span.shortened {display:none;}
ul.jm-ListTable li.jm-ListItem span {display:none;}
ul.jm-ListTable li.jm-ListItem div.sm-12 {display:none;}
ul.jm-ListTable li.jm-ListItem span.shortened {display:inline;}
ul.jm-ListTable li.jm-ListItem span.seperator {display:inline;}
ul.jm-ListTable li.jm-ListItem span.normaldate {display:inline;}
li.jm-ListItem {cursor: pointer;}