.inside { height: 40px; }
.left { float:left; }
.add-comment { margin-top: 10px; }
#author-actions{ margin-top: 10px;  float: left; }
.date { color: #999; font-size: 11px; }
.talk-user a{ color: #596171; font-weight: 800; }
.loggedin .container h3 a { color: #F7F6F4 }
.left-content{ width: 400px; float: left; }
.left-content h3{ color: #596171; }
.slides { height: 130px; }
.middle { height: 300px; }
footer a,footer a:hover,footer a:visited { color: #60BB22; }
footer {
 height: 80px;
 position: relative;
 border-top: solid #8a909b;
 background-color: #E6E6E6; }
label { color: #596171;}
input { color: #596171; }
.strong { font-weight: 800; }
#copyright { padding-top: 10px; color: #596171; }
#reg { width: 450px; float: right; margin-right: 0px;}
.registration { padding-left: 150px; }
.small-lg{ font-size: 16.5px; color: #596171; }
#hedding { height: 60px; margin-top: -55px; }
#title { float: left; margin-top: 15px;}
#title h1 { color: #DBE3F0; }
#login { float: right; z-index: 10; }
#login label{ color: #DBE3F0; }
.r-top { padding-top: 140px; margin-bottom: 40px; }
.r-top-min { padding-top: 50px; margin-bottom: 40px; }
.clearfooter { height: 120px; clear: both; }
.container h1 a{ text-decoration: none; }
.myhouse { width: 175px; }
.myhouse-title, .myhouse-title:hover { color: #596171; font-weight: 800; }
.login-title { float: none; }
.login-pass { float: none; margin-left: 10px; }
.login-input { margin-left: 0px; }
.login-input-10{ margin-left: 10px; }
.login-submit { margin-top: 17px; float: left; }
.login-submit { margin-left: 15px; color: #596171; }
.alert-msg {float: left; margin-bottom: 20px; padding: 10px; width: 100%;}
.compact { padding-top: 0px; padding-bottom: 3px; }
.talk-list { padding-top: 10px;}
.compact h3 { font-size: 12px; line-height: 25px;}
.compact p { font-size: 11px; margin-bottom: 0px;}
.compact span { font-size: 11px;}
.compact input { height: 14px; width: 14px;}
.author, .author:hover, .author:visited { font-size: 11px; color: #60BB22;}
.talk-actions { float: left;}
.margin-l-10 { padding-left:10px;}
.clear-left { clear: left;}
.article .info { display: inline;}
.article .info a { font-size: 11px;}
hr { margin-top: 3px; margin-bottom: 3px;}
.add-comment textarea { width: 600px;}
blockquote p {font-size: 12px;}
.pas{padding:5px}
.vbar{position:relative;border:1px solid;border-color:#596171;padding-top:3px;padding-bottom:6px;zoom:1}
.shaded{position:absolute;background-color:#E1E1E1;height:100%;top:-1px;left:-1px;border:solid #596171;border-width:1px 0 1px 1px}
.vbar .label{top:1px;position:relative;line-height:13px;overflow:hidden;color:#596171}
.vbar .label span{top:1px;position:relative;line-height:13px;overflow:hidden;color:#60BB22;}
.votes { width: 300px;}
.votebar input { float: left; margin-top: 7px;}
.votebar .vbar { margin-left: 15px; cursor: pointer;}
.votebar .vbar:hover {border-color:#60BB22 ; }
.vbar:hover .shaded {border-color: #60BB22 ; }
.green { color: #60BB22 ; }
.green:hover { color: #60BB22 ; }
.green:visited { color: #60BB22 ; }
.viewall {height: 18px; padding-left: 5px; }
.viewall a {font-size: 11px;}
.authorpic { float: left; }
.authorpic img{ height: 25px; width: 25px; margin: 6px;}

.uiUfi{padding-left: 20px; padding-top:2px;margin:0}
.uiUfi .ufiNub{margin-bottom:-2px;margin-top:0}
.uiUfi .ufiNub i{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/UvyvLtJTQzO.png);background-repeat:no-repeat;background-position:0 0;display:block;height:5px;margin-left:17px;width:9px}
.uiUfi .ufiItem{background-color:#edeff4;border-bottom:1px solid #d2d9e7;margin-top:1px;}
ul{list-style-type:none;margin:0;padding:0}
input, textarea, select, .uneditable-input { line-height: 15px; }
label { padding-top: 0;}
.uiUfi .commentContainer {color:#596171; padding-top: 2px; }

.compact .minicomment {width: 420px; height: 11px; }
.compact {width: 450px; padding-bottom: 15px; padding-top: 5px; border-bottom:solid 1px #DDD; padding-left: 20px;}
.uiUfi .date { padding-left: 30px;}
.housepic { width: 60px; height: 60px;}
.tinyhouse { width: 16px; height: 16px;display: block;float: left;	margin-right: 5px;}
.topb-house { height: 16px;}
.sm-11 {font-size: 11px;}
.right { float: right;}
.tinytable th{ font-size: 12px; padding: 5px;}
.tinytable td{ padding: 5px;}
.red { color: #C43C35;}
.sm-12 {font-size: 12px;}
.tofield { float: left;}
.plusto {float:left; display: block; margin-left: 5px;}
.tinytable td { padding: 3px;}
.tinytable tr { cursor: pointer; font-size: 11px;}
.jm-MailSelectedRecipientX { cursor: pointer; width: 12px; height: 12px;}
#tofields { float: left; }
#addrecipient { cursor: pointer;}
.tocontainer { padding: 5px;}
/*.property-on-side { height: 55px;}*/
.property-on-side:hover { background-color: whitesmoke; cursor: pointer;}
.nodec:hover {text-decoration: none;}
.nodec { display: block; height: 55px;}
.jm-LeftBar-ProfileImage { height: 40px; width: 40px;}
.pad-5 { padding-top: 5px; padding-bottom: 5px;}
.w-130 {width: 130px;}
.mediumpic { width: 100px; height: 100px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
.tinypic { width: 16px; height: 16px;display: block;float: right;	margin-right: 5px; 
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;}
.icopic { width: 30px; height: 30px; }
.piclist a { text-decoration: none;}
.piclist a:hover { text-decoration: none; }
.attachlist a { text-decoration: none;}
.attachlist a:hover { text-decoration: none; }
.makedecision { color: red; font-size: 11px; margin-left: 5px;}
.makedecision:hover {color:red }
#active-property {display: block;}
#active-property:hover { background-color: whitesmoke; cursor: pointer; min-height: 50px;}
#active-property span {display: block;}
#active-property:hover span {text-decoration: underline; color: #60BB22 ;};
#active-property img.jm-LeftBar-ProfileImage {
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;}
.add-new-work { color: red; font-size: 11px; margin-left: 5px;}
.add-new-work:hover {color:red }