<% if (everyauth.loggedIn) { %>
<h1>Balsojumi</h1>
<%- partial('../messages') %>
<form method="post" action="/votes/add">
	<input type="hidden" name="vote[userid]" value="<%- everyauth.user.id %>" />
	<input type="hidden" name="vote[username]" value="<%- everyauth.user.fullname %>" />
	<fieldset>
		<legend>Pievienot jaunu balsojumu</legend>
		<div class="clearfix">
			<label for="title">Virsraksts</label>
			<div class="input"><input  class="xlarge" type="text" name="vote[title]" />
			</div>
		</div>
		<div class="clearfix">
			<label for="content">Saturs</label>
			<div class="input"><textarea  class="xxlarge" name="vote[content]" rows="3" /></textarea>
		</div>
		<div class="clearfix">
          	<label>Foto</label>
          	<div class="input">
          	<input type="hidden" name="pictures" value="" />
              <div id="talkpic">
              </div>
            <div id="showpic"></div>
     		</div>
        </div>
        <div class="clearfix">
          	<label>Pielikumi</label>
          	<div class="input">
          	<input type="hidden" name="attachments" value="" />
              <div id="talkatt">
              </div>
            <div id="showatt"></div>
     		</div>
        </div>
		<div class="clearfix">
			<div class="input">
			<ul class="inputs-list">
			<li>
			<label><input type="checkbox" name="voteoption[multi]" ><span style=" margin-left: 5px;">Atļaut vairākas izvēles</span></label>
			</li>
			</ul>
			</div>
		</div>
		<div id="options">
			<div class='clearfix'><label> #1</label><div class="input"><input type='text' name='voteoption[option]'/></div></div>
			<div class='clearfix'><label> #2</label><div class="input"><input type='text' name='voteoption[option]'/></div></div>
		</div>
		<div class="actions">
		<span class="btn small success addopt">
			Pievienot balsošanas variantu
		</span>
  	<input type="submit" class="btn primary" value="Pievienot">
  	<a class="btn" href="/votes">Atcelt</a>
  		</div>
  </fieldset>
</form>
<script type="text/javascript">
	$(function(){
		var optcount = 2;
		$('.addopt').click(function(){
			optcount++;
			$('#options').append("<div class='clearfix'><label> #" + optcount +"</label><div class=\"input\"><input type='text' name='voteoption[option]'/><button class=\"btn small danger\" onclick=\"$(this).parent().parent().remove()\" style=\"margin-left: 5px;\">Dzēst</button></div></div>");
		});
	});
</script>
<% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>