<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
				<%- partial('../leftside') %>
				<% if(activehouse != ""){ %>
				<li class="pad-5"><a href="/votes/create"  class="btn success strong small" >Izveidot balsojumu</a></li>
				<% } %>
				</ul>
		</div>
		<div class="content" >
			<div class="talk-list">
					<% votes.forEach(function(vote){ %>
						<div class="compact">
							<a href="/talks/show/<%- vote.id %>" ><h3><%= vote.title %></h3></a>
							<p><%= vote.content.substring(0,150) %> <% if(vote.content.length > 150){ %>...<% } %></p>
							<div class="piclist">
							<% vote.pictures.forEach(function(pic){ %>
								<a href="/images/talks/<%= pic %>"  class="grouped_elements" rel="<%= vote.id %>">
								<img src="/images/talks/<%= pic %>" alt="" class="mediumpic" />
								</a>
							<%})%>
							</div>
							<div class="attachlist">
							<% vote.attachments.forEach(function(att){ 
								var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
								%>
								<a href="/attachments/talks/<%= att %>" target="_blank" >
								<img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
								</a>
							<%})%>
							</div>
							<%- partial('../votelist.html',{votes: vote.votes, id: vote.id,
														 myvotes: myvotes, total: vote.uservotes.length, locked: false}) %>
							<%- partial('../linkline.html', {line: vote, house: vote.house}) %>
							<%- partial('../mini_comments.html', {comments: vote.comments, parent: vote.id }) %>
						</div>
					<% }) %>
			</div>
		</div>
	</div>
</div>
<% }else { %>
<%- partial('../noaccess.html') %> 
<% } %>