<div class="r-top-min">
	<%- partial('../messages') %>

	<!--START: Left side menu-->
	<div class="container-fluid">
		<div class="sidebar">
		<%- partial('../leftside') %>
		</ul>
		</div>
  <!--END: Left side menu-->
  <!--START: Content -->
		<div class="content" >
				
		</div>
		 <!--END: Content -->
	</div>
</div>