 <div class="r-top-min"> 
    
    
    <div class="container-fluid">
      <!--START: Left side menu-->
      <div class="sidebar span2">
        <ul class="jm-LeftBar2-Container">
          <li class="jm-LeftBar-li property-on-side"> <!--                  <img class="jm-LeftBar-ProfileImage" src="/images/nopic.jpg" alt=""> 
                  <span class="jm-LeftBar-ProfileName green" >Janis Melkis</span>--> 
            
            <span class="green" style="font-weight:bold" >Rihards Skuja</span> <a href="http://images.eonline.com/eol_images/Entire_Site/201118//300.DarthVAdarCommercial.tg.020811.jpg"><img src="http://i234.photobucket.com/albums/ee311/ablogaboutthings/darth-vader-commercial-max-page.jpg" alt="" style="width:150px; height:150px"></a> </li>
          <li class="jm-LeftBar-li property-on-side"> 
            <!--Pievienojam īpašuma bloku--> 
            <a href="/property/edit/4ed363d629c1b11e3700002d" class="nodec"> <span id="activehouse-img"><img class="jm-LeftBar-ProfileImage" src="/images/scyscrape.jpg" alt=""></span> <span class="myhouse-title" id="activehouse-id">Alberta iela 9</span> <br>
            <span id="activeapartment" class="myhouse-title"></span> </a> </li>
          <li> 
            <!--               <div class="sis_klases_nav_lietoju_lai_atzimetu_kura_sadala_haidojaas"> 
<div class="jm-LeftBar-Bock"> <a href="#">Paziņojumi  <span class="label success">2</span></a>  </div> 
                    <div class="jm-LeftBar-Bock"> <a href="#">Aktīvās Diskusijas  <span class="label success">4</span></a>  </div> -->
            <div class="jm-LeftBar-Bock">Vēstules:</div>
            <div class="jm-LeftBar-Bock"> <a class="jm-LeftBar-InboxItem green" href="/inbox">Izveidot</a> <a  class="jm-LeftBar-InboxItem green" href="/inbox/received">Saņemtās <span class="label important">1</span> </a> </div>
            <div class="jm-LeftBar-Bock"> <a  class="jm-LeftBar-InboxItem green" href="/inbox/sent">Izsūtītās</a> </div>
            <!--                   </div>  --> 
            
          </li>
        </ul>
      </div>
      <!--END: Left side menu--> 
      
      
		<!--END: Right Side Content--> 
        
      </div>
      
      <!--END: Content --> 
    </div>
  	</div>
