<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>

	<!--START: Left side menu-->
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>
  <!--END: Left side menu-->
  <!--START: Content -->
		<div class="content" >
				<div id="important">
				<% if(activehouse == ""){ %>
				<div class="well">
				<h3 class='red'>Jums nav pievienota īpašuma</h3>
				<p>Lai sāktu saimniekot pievienojiet jaunu īpašumu un aciniet iedzīvotājus pievienoties.</p>
				<a href="/property/new" class="btn success">Pievienot jaunu īpašumu</a>
				</div>
				<%}%>
				</div>
			
			<% talks.forEach(function(talk){ %>
				<!--START: Wall post -->
				<div class="compact">
					<a href="/talks/show/<%- talk.id %>" >
					<h3><%= talk.title %></h3></a>
					<p><%= talk.content.substring(0,150) %><% if(talk.content.length > 150){ %>...<% } %></p>
					<div class="piclist">
					<% talk.pictures.forEach(function(pic){ %>
						<a href="/images/talks/<%= pic %>"  class="grouped_elements" >
						<img src="/images/talks/<%= pic %>" alt="" class="mediumpic" />
						</a>
					<%})%>
					</div>
					<div class="attachlist">
					<% talk.attachments.forEach(function(att){ 
						var ext = (-1 !== att.indexOf('.')) ? att.replace(/.*[.]/, '').toLowerCase() : '';
						%>
						<a href="/attachments/talks/<%= att %>" target="_blank" >
						<img src="/buttons/ico-<%= ext %>.png" alt="" class="icopic" />
						</a>
					<%})%>
					</div>
					<%- partial('../votelist.html',{votes: talk.votes, id: talk.id,
									 myvotes: myvotes, total: talk.uservotes.length, locked: false}) %>
					<%- partial('../linkline.html', {line: talk, house: talk.house}) %>
					<%- partial('../mini_comments.html', {comments: talk.comments, parent: talk.id }) %>
				</div>
				<!--END: Wall post -->
			<% }) %>
				<!-- <%- pagerHtml %> -->
		</div>
		 <!--END: Content -->
	</div>
</div>
<% }else { %>
	<div class="r-top">
		<%- partial('startpage', {unit: unit}) %>
	</div>
<% } %>