<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>
		<% if(activehouse != ""){ %>
		<div class="content" >
		<% if(inbox.length == 0){ %>
		<h4>Jums nav saņemto vēstuļu</h4>
		<% }else{ %>
		<table class="bordered-table zebra-striped tinytable">
        <tbody>
			<% for(var i=0; i < inbox.length; i++){ %>
				<tr onclick='document.location.href = "/inbox/show/<%= inbox[i].id %>";'><td class="w-130"><%= inbox[i].from.fullname %>
				<% for(var j=0; j < everyauth.user.inbox.length ; j++){ %>
					<% if(everyauth.user.inbox[j] == inbox[i].id){ %>
					<span class="label success">Jauns</span>
					<% break;}%>
				<%}%>
				</td><td><%= inbox[i].subject %>
				<% inbox[i].pictures.forEach(function(pic){ %>
					<img src="/images/inbox/<%= pic %>" alt="" class="tinypic" />
				<%})%>
				</td><td class="date w-130"><%= inbox[i].date %></td></tr>
			<%}%>
		</tbody>
		</table>
		<% } %>
		</div>
		<% } %>
	</div>
</div>
<% }else{ %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>