<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>
		<% if(activehouse != ""){ %>
		<div class="content" >
			<form method="post" action="/inbox/send">
			<fieldset>
				<legend>Jauna vēstule</legend>

				<input type="hidden" name="toid" value="0" >
				<div class="clearfix">
					<label>Kam</label>
					<div class="input"><div id="tofields" class="well compact tocontainer" >
									<% 
				   if(ids != null){ 
				   for(var i=0; i<ids.length; i++){ %>
					<span class="jm-MailSelectedRecipient"><input type="hidden" name="toid" class="ids" value="<%= ids[i]._id %>"><span class="toname nametr"><%= ids[i].fullname %></span><img class="jm-MailSelectedRecipientX" src="/buttons/x12_b.png" alt="" onclick="$(this).parent().remove();"></span>
				<% }} %>
					</div><img src="/buttons/plus28.png" class="plusto" alt="add" id="addrecipient" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" /></div>

				</div>
				<div class="clearfix">
					<label>Virsraksts</label>
					<div class="input"><input  class="xlarge" type="text" name="inbox[subject]" ></div>
				</div>
				<div class="clearfix">
					<label>Saturs</label>
					<div class="input"><textarea  class="xxlarge" name="inbox[body]" rows="3" ></textarea></div>
				</div>
				<div class="clearfix">
		          	<label>Foto</label>
		          	<div class="input">
		          	<input type="hidden" name="pictures" value="" />
		              <div id="inboxpic">
		              </div>
		            <div id="showpic"></div>
		     		</div>
		        </div>
				<div class="clearfix">
					<div class="input">
			 		<input type="submit" class="btn success" value="Pievienot">
			  		<a class="btn" href="/inbox">Atcelt</a>
			  		</div>
		  		</div>
		    </fieldset>
		    </form>
		</div>
		<% } %>
	</div>
</div>
<div id="modal-from-dom" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h5>Izvēlies kam sūtīt</h5>
    </div>
    <div class="modal-body">

	<table class="bordered-table zebra-striped tinytable">
        <tbody>
		<% for(var i=0; i<houses.length; i++){ %>	
		<% for(var j=0; j<houses[i].units.length; j++){ %>
			<% if(houses[i].units[j].owner != undefined && everyauth.user.id != houses[i].units[j].owner){ %><tr class="addrecipient" ><td class="hidden toid"><%= houses[i].units[j].owner %></td><td class="name"><%= houses[i].units[j].name %> <%= houses[i].units[j].surname %></td><td><%= houses[i].name %></td><td><%= houses[i].units[j].title %></td></tr><% } %>
		<% } %>
		<% for(var j=0; j<houses[i].admins.length; j++){ %>
			<% if(everyauth.user.id != houses[i].admins[j].id){ %><tr class="addrecipient"><td class="hidden toid"><%= houses[i].admins[j].id %></td><td class="name"><%= houses[i].admins[j].fullname %></td><td><%= houses[i].name %></td><td class="red">Apsaimniekotājs</td></tr><% } %>
		<% } %>
	<% } %>
        </tbody>
    </table>
    </div>
 </div>
<% }else { %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>