<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>
		<% if(activehouse != ""){ %>
		<div class="content" >
		<% if(sent.length == 0){ %>
		<h4>Jūs neesiet nosūtijis nevienu vēstuli!</h4>
		<a href="/inbox" class="btn success">Nosūtīt vēstuli</a>
		<% }else{ %>
		<table class="bordered-table zebra-striped tinytable">
        <tbody>
			<% for(var i=0; i < sent.length; i++){ %>
				<tr  onclick='document.location.href = "/inbox/show/<%= sent[i].id %>";'><td class="w-130"><%= sent[i].to[0].fullname %></td>
				<td>
				<%= sent[i].subject %>
				<% sent[i].pictures.forEach(function(pic){ %>
					<img src="/images/inbox/<%= pic %>" alt="" class="tinypic" />
				<%})%>
				</td><td class="date w-130"><%= sent[i].date %></td></tr>
			<%}%>
		</tbody>
		</table>
		<% } %>
		</div>
		<% } %>
	</div>
</div>
<% }else{ %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>