<% if (everyauth.loggedIn) { %>
<div class="r-top-min">
	<%- partial('../messages') %>
	<div class="container-fluid">
		<div class="sidebar span2">
		<%- partial('../leftside') %>
		</ul>
		</div>
		<% if(activehouse != ""){ %>
		<div class="content" >
			<h4><%= mail.subject %></h4>
			<p class="sm-11"><b>From</b> <a href="/users/show/<%= mail.from.id %>" class="green" ><%= mail.from.fullname %></a> <span class="date"><%= mail.date %></span></p>
			<div class="well compact">
				<%- mail.body %>
			</div>
			<div class="piclist">
				<% mail.pictures.forEach(function(pic){ %>
					<a href="/images/inbox/<%= pic %>"  class="grouped_elements" rel="<%= mail.id %>">
					<img src="/images/inbox/<%= pic %>" alt="" class="mediumpic" />
					</a>
				<%})%>
			</div>
			<form method="post" action="/inbox/replay/<%= mail.id %>">
				<div class="clearfix">
				<textarea placeholder="Atbildēt..." class="xxlarge" style="width: 480px;" name="replay" rows="3" ></textarea>
				</div>
				<div class="clearfix">
				<input type="submit" class="btn success" value="Nosūtīt atbildi">
				</div>
			</form>
		</div>
		<% } %>
	</div>
</div>
<% }else{ %>
	<div class="r-top">
		<%- partial('noaccess') %>
	</div>
<% } %>